@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  background: linear-gradient(
    180deg,
    rgba(70, 183, 155, 0.605) 30%,
    rgba(42, 117, 98, 0.605) 100%
  );
  color: black;
  text-decoration: none;
  border: 0.2px solid rgba(70, 183, 155, 0.605);
  padding: 3px;
  border-radius: 5px;
  transition: 0.2s;
  display: inline-block;
}

a:hover {
  background: rgba(47, 121, 102, 0.605);
}

.container {
  max-width: 1000px;
  margin: auto;
  padding-top: 25px;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  /* background: #d9edea; */
}

h2 {
  font-family: 'Handjet', sans-serif;
  font-size: 30px;
  color: #394743;
  background: #accdc5;
  text-decoration: underline;
  margin: 0 0 10px 0;
  border-radius: 10px;
  padding-left: 10px;
  display: block;
}

.header {
  display: flex;
}

.cap {
  display: flex;
}

.info {
  display: flex;
  margin-bottom: 10px;
}

.info img {
  display: inline-block;
  border: 0.2px solid rgb(122, 121, 121);
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s;
  width: 180px;
  margin: 10px 10px 10px 5px;
}

.info img:hover {
  transform: translate(-3px, -3px);
  box-shadow: 20px 4px 14px rgba(70, 183, 155, 0.605);
}

.info-text {
  margin: 10px 0 0 10px;
}

.info-text h1 {
  display: block;
  margin-bottom: 10px;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #6c7675;
  display: block;
  width: 65%;
  margin-bottom: 10px;
}

.card {
  padding: 10px 10px 10px 10px;
  background: #d9edea;
  border: 0.2px solid rgb(122, 121, 121);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 10px 8px 14px rgba(70, 183, 155, 0.605);
}

.socials {
  display: block;
  margin-bottom: 10px;
}

.form-row {
  padding: 1px;
}

.btn {
  display: block;
  background: linear-gradient(
    180deg,
    rgba(70, 183, 155, 0.605) 30%,
    rgba(42, 117, 98, 0.605) 100%
  );
  border: 0.2px solid rgb(122, 121, 121);
  border-radius: 10px;
  padding: 5px 20px;
  transition: 0.2s;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

.btn:hover {
  box-shadow: 5px 0px 14px rgba(30, 71, 60, 0.605);
  transform: translate(0px, 2px);
}

table tr th {
  border: 0.2px solid rgb(122, 121, 121);
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(70, 183, 155, 0.605) 30%,
    rgba(42, 117, 98, 0.605) 100%
  );
  transition: 0.3s;
}

table td {
  padding: 3px;
  border: 0.2px solid rgb(122, 121, 121);
  border-radius: 5px;
  padding-bottom: 5px;
}

table td:nth-child(even) {
  text-align: center;
}

table td:nth-child(2),
table td:nth-child(3) {
  color: #282a29b4;
}

table td:hover {
  background: rgba(0, 105, 242, 0.1);
}

.list-items {
  padding-left: 20px;
}

.list-items li {
  padding-bottom: 3px;
}

.list-items li:nth-child(odd) {
  padding: 4px;
  border-radius: 7px;
  background: rgba(0, 105, 242, 0.1);
}

.list-items li:hover {
  text-transform: uppercase;
}

.form {
  display: flex;
}

.form-row-head {
  margin-bottom: 10px;
  display: flex;
}

.form-row-head .form-row {
  /* display: inline-block; */
  /* width: calc(50% - 20px); */
  margin-right: 20px;
  width: 50%;
}

.form-row-head .form-row:last-child {
  margin-right: 0;
}

form label {
  background: rgba(0, 105, 242, 0.1);
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 250px;
}

form textarea,
form input {
  font-family: inherit;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px dotted black;
  background: #d9edea;
}

/* @media (max-width: 1050px) {
  .container {
    width: 950px;
  }
}

@media (max-width: 950px) {
  .container {
    width: 850px;
  }
}

@media (max-width: 850px) {
  .container {
    width: 700px;
  }

  .info img {
    width: 140px;
    margin-top: 25px;
  }

  h1 {
    font-size: 20px;
  }

  .info-text p {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .container {
    width: 650px;
  }
} */

@media (max-width: 810px) {
  .cap {
    display: block;
    text-align: center;
  }

  .info {
    display: inline-block;
    width: 140px;
    text-align: center;
    margin-right: 40px;
    padding: 0;
  }

  .info-text p {
    display: inline-block;
    text-align: center;
  }
}

@media (max-width: 520px) {
  .form-row-head {
    display: block;
  }
}
